<div class="panel">
	<b class="panelTitle">Change Password</b>
	<form>
		<label>
			<b>Old Password</b>
			<input type="password" ng-model="changePass.oldPassword" placeholder="Old Password">
		</label>
		<label>
			<b>New Password</b>
			<input type="password" ng-model="changePass.newPassword" placeholder="New Password">
		</label>
		<input type="submit" class="button success large" ng-click="changePassword()" value="Change">

		<div ng-show="changePass.passwordMessage" class="warning label">{{changePass.passwordMessage}}</div>
	</form>
</div>