<div class="panel" ng-show="!stateParams.contestID">
	<h1>Create a New Contest</h1>
	<form ng-submit="createContest(contest)">
		<label>
			<b>Title</b>
			<input type="text" class="largeText" placeholder="Contest Title..." ng-model="contest.title" id="firstInput" required>
		</label>
		<button type="submit" class="button success large">Save &amp; Continue</button>
	</form>
</div>

<div class="panel" ng-if="stateParams.contestID">
  
  <h1 class="creationHeader">Contest Editor</h1>

  <form>
  	<label>
  		<b>Title</b>
  		<input type="text" class="largeText" placeholder="Contest Title" ng-model="contest.title" id="firstInput" required>
  	</label>

  	<label class="contestImageDropzone" ng-if="!contest.imageID">
  		<b>Contest Image</b>
  		<p><div class="imageDropzone dropzone" contestimage style="width:100%;"></div></p>
  		{{contest.imageID}}
  	</label>

  	<label ng-if="contest.imageID">
  		<b>Contest Image <small>Preview</small></b>
  		<p>
  			<img src="http://res.cloudinary.com/dsgmrzsui/image/upload/c_fill,w_970/{{contest.imageID}}.jpg">
	  		<a ng-click="contest.imageID = null" class="button warning tiny">Change Image</a>
	  	</p>
  	</label>

  	<label>
  		<b>Description</b>
  		<textarea ng-model="contest.description" placeholder="Describe the contest.."></textarea>
	</label>

	<!-- TODO: Only if Admin -->
	<label ng-if="currentUser.isAdmin">
		<b>Featured?</b>
		<input type="checkbox" ng-model="contest.featured">
	</label>

	<label style="margin: 0;">
		<b>Contest Type</b>
	</label> 

	<select ng-model="contest.contestType" ng-init="contest.contestType = contestTypes[0].name">
		<option ng-repeat="type in contestTypes" ng-value="type.name">{{type.name}}</option>
	</select>

	<br>

<div ng-if="contest.contestType == 'Specific Judge'">
	<label style="margin: 0;">
		<b>Prizes</b>
	</label>
	<div class="prizesArea">
		<div class="prizeInputs">
			<div class="prizeInput {{prize.$id}}" ng-repeat="prize in prizes | filter:{contestID:contest.$id} track by $index">
				<div class="prizeCounter">
					<div>
					 <b class="prizeCounterLabel">Prize #{{$index+1}}</b>
					</div>
					<div class="text-right">
						<small style="text-align: right;"><a ng-click="prizes.$remove(prize)" class="prizeCounterRemove"><i class="fa fa-times-circle"></i></a></small>
					</div>
				</div>
				<b>Prize Label</b>
					<input type="text" ng-model="prize.label" class="prizeLabel" placeholder="ex. 1st Place" ng-change="prizes.$save(prize)">
				<b>Prize Amount</b>
					<div class="input-group">
						<span class="input-group-label">$</span>
						<input type="text" ng-model="prize.amount" placeholder="0.00" ng-change="prizes.$save(prize)">
					</div>
			</div>
			<div class="prizeInput">
				<a class="button" ng-click="addPrize()"><i class="fa fa-plus"></i> Add Prize</a>
			</div>
		</div>
	</div>
		<label style="margin: 0;">
			<b>Judge Details</b>
		</label>

	  	<div class="contestImageDropzone" ng-if="!contest.judgeImageID">
	  		<b>Judge Image</b>
	  		<p><div class="judgeDropzone dropzone" judgeimage></div></p>
	  		{{contest.judgeImageID}}
	  	</div>

	  	<div ng-if="contest.judgeImageID">
	  		<b>Judge Image <small>Preview</small></b><br>
	  			<img src="http://res.cloudinary.com/dsgmrzsui/image/upload/c_thumb,g_face,h_90,w_90/{{contest.judgeImageID}}.png" class="judgeImagePreview"><br>
		  		<a ng-click="contest.judgeImageID = null" class="button warning tiny">Change Image</a>
	  	</div>

		<br>
		<b class="subLabel">Name</b>
		<input type="text" ng-model="contest.judgeName" placeholder="ex. Justin Bieber">
		<br>
		<b class="subLabel">Description</b>
		<textarea ng-model="contest.judgeDescription" placeholder="Talk about why this person or team of people is qualified to be a judge"></textarea>
		<br>
	</div>

	<label>
		<b>Entrance Fee:</b>
		<div class="input-group">
			<span class="input-group-label">$</span>
			<input type="text" ng-model="contest.entranceFee">
		</div>
	</label>

	<label>
		<b>Entries per person</b>
		<div class="input-group">
			<input type="text" ng-model="contest.entriesPerPerson" ng-init="contest.entriesPerPerson=1" required>
			<span class="input-group-label">entries / person</span>
		</div>
	</label>

	<label>
		<b>Votes Per Person</b>
		<div class="input-group">
			<input type="text" ng-model="contest.votesPerPerson" ng-init="contest.votesPerPerson=1" required>
			<span class="input-group-label">votes / person</span>
		</div>
		<small>How many different entries can someone vote on?</small>
	</label>

	<label>
		<b>Submission Deadline</b>
		<input type="text" class="datePicker submissionDeadlinePicker" readonly="readonly" datepicker ng-model="contest.submissionDeadline" ng-init="contest.deadline=oneWeekFromNow()" required>
		<small>After the submission deadline no more entries will be accepted and the voting phase will start</small>
	</label>

	<label>
		<b>Voting Deadline</b>
		<input type="text" class="datePicker votingDeadlinePicker" readonly="readonly" later-than="contest.submissionDeadline" datepicker ng-model="contest.votingDeadline" ng-init="contest.deadline=oneWeekFromNow()">
		<small>After the voting deadline the contest will be over and prizes will be given!</small>
	</label>

	<div class="label warning" ng-if="!contest.imageID">
		You are missing required entries!<br>
	</div>
	<button class="button success large" ng-click="contest.$save(); go('contest.contestID', {contestID:contest.$id})" ng-disabled="!contest.imageID">Save</button>
	</form>

</div>