<div class="panel">
	<b class="panelTitle">My Feed</b>
	<div class="feedEntries">
		<div class="feedEntry" ng-hide="(follows | filter:{following:entry.userID, follower:currentUser.userID}).length == 0" ng-repeat="entry in entries | orderBy:'-' track by $index" ng-if="entry.userID" ng-if="entry.hasFollowing">
			<span ng-repeat="follow in follows | filter:{following:entry.userID, follower:currentUser.userID}">
			<div class="feedUserSubmission" ng-init="entry.hasFollowing = true">
			  <span ng-repeat="user in users | filter:{userID:entry.userID}" class="feedUserSubmissionContent clickable"  ng-click="go('profile.userID', {userID:user.userID})">

			  	<div class="feedUserSubmissionImage">
				    <img src="http://res.cloudinary.com/dsgmrzsui/image/upload/c_scale,h_30,w_30/{{user.imageID || 'noProfile_njhxg2.jpg'}}">
				</div>
				<div class="feedUserSubmissionName">
				    {{user.name}}
				</div>
			  </span>
			</div>
			<div class="contestEntries">
			  <profileentry class="entry"></profileentry>
			</div>
			</span>
		</div>
	</div>