<div class="panel">
	<b class="panelTitle">Following</b>

	<span ng-repeat="follow in follows | filter:{follower:user.userID} | unique:'following'">
		<div class="notification read clickable" ng-repeat="user in users | filter:{userID:follow.following}"  ng-click="go('profile.userID', {userID:user.userID})">
		  <div class="notificationImage">
		    <img src="http://res.cloudinary.com/dsgmrzsui/image/upload/c_scale,h_40,w_40/{{user.imageID || 'noProfile_njhxg2.jpg'}}">
		  </div>
		  <div class="notificationDetails">
		  	{{user.name}}
		  </div>
		</div>
	</span>

</div>
