<div class="singleContentWrapper">

  	<div ng-show="!firebaseUser">


    <div class="panelTabs">
      <a class="panelTab" ng-click="tab='register'" ng-class="tab=='register' || !tab ? 'active' : ''">Register <br><small>a new account</small></a>
      <a class="panelTab" ng-click="tab='login'" ng-class="tab=='login' ? 'active' : ''">Login <br><small>existing account</small></a>
    </div>
    <div class="panel">

      <!-- REGISTER TAB -->
  		<div ng-show="tab=='register' || !tab">
  			<div class="text-center"><b class="panelHeader">Sign Up</b></div>
  			<form>
  				<label>
  					<b>Name</b>
  					<input type="text" placeholder="Name" ng-model="newUser.name">
  				</label>
  				<label>
  					<b>Email Address</b>
  					<input type="email" placeholder="Email" ng-model="newUser.email">
  				</label>
  				<label>
  					<b>Password</b>
  					<input type="password" placeholder="Password" ng-model="newUser.password">
  				</label>
          <label>
            <b>Age</b>
            <input type="number" placeholder="Age" ng-model="newUser.age">
          </label>
          <label ng-show="newUser.age < 18 && newUser.age >= 13">
            <b>Users Under The Age of 18 must have parent's consent to participate</b><br>
            <input type="checkbox" ng-model="newUser.parentConsent"> Check this box to confirm parent consent
          </label>
          <div class="warning label" ng-show="newUser.age < 13">MoneySnap is for users 13 years or older</div>

          By clicking the "Register" button, you agree to our <a ng-click="showTerms=true">Terms of Service</a><br>

          <terms></terms>

  				<input type="submit" class="button large success" ng-click="registerUser()" value="Register" ng-disabled="newUser.age < 13"></input>
  			</form>
  		</div>

      <!-- LOGIN TAB -->
  		<div ng-show="tab=='login'">
  			<b class="panelHeader">Login</b>
  			<form>
  				<label>
  					<b>Email Address</b>
  					<input type="email" placeholder="Email" ng-model="user.email">
  				</label>
  				<label style="margin: 0;" ng-hide="forgotPass">
  					<b>Password</b>
  					<input type="password" placeholder="Password" ng-model="user.password">
  				</label>

  				<span ng-hide="forgotPass"><a ng-click="forgotPass=true">Forgot Password?</a><br></span>

          <div class="warning label" ng-show="loginError">{{loginError}}</div>

  				<span ng-hide="forgotPass"><input type="submit" class="button large success" ng-click="loginUser()" value="Login"></input></span>
          <span ng-show="forgotPass"><input type="submit" class="button large success" ng-click="forgotPassword()" value="Reset Password"></input><br><a ng-click="forgotPass=false">Cancel</a></span>
          <div ng-show="passwordMessage" class="warning label">{{passwordMessage}}</div>
  			</form>
  		</div>

  	</div>

  	<div ng-show="firebaseUser">
  		Welcome Back!
      <a class="button success expanded" href="#">See Contests</a>
  	</div>
  </div>

</div>