<!doctype html>
<html class="no-js" lang="en" ng-app="moneysnap">
  <head>

    <!-- MONEY SNAP APP -->
    
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MONEYSNAP</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/app.css" />

    <link rel="stylesheet" type="text/css" href="external/Font-Awesome/css/font-awesome.css">
    <link href='external/css.css' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="css/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.theme.min.css">
    <link rel="stylesheet" type="text/css" href="external/dropzone.min.css">

    <!-- ANGULAR -->
    <script src="cordova.js"></script>
    <script type="text/javascript" src="external/angular.min.js"></script>
    <script type="text/javascript" src="external/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="external/ct-ui-router-extras.min.js"></script>
    <script type="text/javascript" src="external/angular-animate.min.js"></script>
    <script src="external/angular-sanitize.js"></script>
    <script src="external/firebase.js"></script>
    <script src="external/angularfire.min.js"></script>

    <!-- PACE -->
    <script type="text/javascript" src="js/pace.min.js"></script>

    <!-- ANIMATE CSS -->
    <link rel="stylesheet" type="text/css" href="css/animate.css">

  </head>
  <body ng-controller="main" sidepanes id="topScreen">

    <section class="sideMenu">
        
    </section>

<div class="contentWrapper">
<div class="contentFader" ng-click="setSidebar()"></div>

    <section class="header">
      <div class="leftHeader">
        <a href="javascript:history.back();" class="titleBack"><i class="fa fa-chevron-left"></i></a>
        <!-- <a class="sideMenuTrigger" ng-click="setSidebar()"><i class="fa fa-bars"></i></a> -->
      </div>
      <div class="logo">
        <img src="images/logo.png">
      </div>
      <div class="rightHeader">
        <a href="#find" class="searchIcon" ng-show="!searching"><i class="fa fa-search"></i></a>
        <div class="searchInput" ng-show="searching">
            <div class="searchBox">
                <input type="text" ng-model="search" id="search" placeholder="search">
            </div>
            <div>
                 <a ng-click="searching=false" class="smallLink">cancel</a>
             </div>
        </div>
      </div>
    </section>

    <!-- MAIN VIEW -->
    <ui-view></ui-view>


    <section class="footerMenu" ng-show="firebaseUser">
        <div class="homeFooter">
            <a href="#feed" ng-click="currentPage = 'home'" ng-class="{'active':currentPage == 'home'}">
                <i class="fa fa-home"></i>
                <small>Home</small>
            </a>
        </div>
        <div class="profileFooter">
            <a href="#profile/{{currentUser.userID}}" ng-click="currentPage = 'profile'" ng-class="{'active':currentPage == 'profile'}">
                <img src="http://res.cloudinary.com/dsgmrzsui/image/upload/c_scale,h_40,w_40/{{currentUser.imageID || 'noProfile_njhxg2.jpg'}}" class="profileTabButton">
                <small>Profile</small>
            </a>
        </div>
        <div class="main">
            <a href="#/" ng-click="currentPage = 'main'" ng-class="{'active':currentPage == 'main' || !currentPage}"><img src="images/contestsIcon.png"><small>Contests</small></a>
        </div>
        <div class="notifications">
            <a href="#notifications" ng-click="currentPage = 'notifications'" ng-class="{'active':currentPage == 'notifications'}"><i class="fa fa-bell"></i><small> <b class="notificationAlert" ng-show="unreadNotifications">{{unreadNotifications}}</b> Notifications</small></a>
        </div>
        <div class="moreLink">
            <a href="#more" ng-click="currentPage = 'more'" ng-class="{'active':currentPage == 'more'}"><i class="fa fa-bars"></i> <small>More</small></a>
        </div>
    </section>

</div>

    <script src="external/jquery-1.10.2.js"></script>
    <script src="js/vendor/what-input.min.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/push.js"></script>
    <script type="text/javascript" src="external/prefixfree.min.js"></script>
    <script src="js/directives.js"></script>
    <script type="text/javascript" src="js/states.js"></script>
    <script type="text/javascript" src="external/jquery-ui.min.js"></script>
    <script type="text/javascript" src="external/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="external/dropzone.min.js"></script>

    <script type="text/javascript" src="js/jquery.cloudinary.js"></script>
    <script src='js/jquery.ui.widget.js' type='text/javascript'></script>
    <script src='js/jquery.iframe-transport.js' type='text/javascript'></script>
    <script src='js/jquery.fileupload.js' type='text/javascript'></script>
    <script src='js/jquery.cloudinary.js' type='text/javascript'></script>

    <!-- STRIPE CHECKOUT -->
    <script src="external/checkout.js"></script>

    <script type="text/javascript" src="js/countdown.js"></script>

    <script src="js/scripts.js"></script>

  </body>
</html>
