<label class="contestImageDropzone entryImageDropzone" ng-if="!entry.imageID">
		<b>Entry Image</b>
		<p><div class="photoEntry dropzone" photoentry style="width: 100%;"></div></p>
		{{entry.imageID}}
	</label>

	<label ng-if="entry.imageID">
		<b>Contest Image <small>Preview</small></b>
		<p>
			<img src="http://res.cloudinary.com/dsgmrzsui/image/upload/c_fill,w_970/{{entry.imageID}}.jpg">
			<a ng-click="entry.imageID = null" class="button warning tiny">Change Image</a>
		</p>
	</label>

  <label>
  	<b>Caption</b>
  	<textarea ng-model="entry.caption" placeholder="Image Caption"></textarea>
  </label>