<div class="panel">
	<b class="panelTitle">Contests Won</b>

	<span ng-repeat="prize in prizes | filter:{paidUser:user.userID}">
		<span ng-repeat="contest in contests | filter:{$id:prize.contestID}">
			<div class="contestWonReport">
				<div class="contestWon">
					<div>
						{{prize.amount | currency}}
					</div>
				</div>
				<div class="contestWonReportDetails">
					<b ng-show="prize.label" style="position: relative; top: 20px;"><i class="fa fa-trophy"></i> {{prize.label}}<br></b>
					<contestreport></contestreport>
				</div>
			</div>
		</span>
	</span>

</div>
