<div class="panel greyPanel">
    <ul class="sideMenuLinks">
        <li class="userLink" ng-click="go('profile.userID', {userID:currentUser.userID})">
            <div class="userLinkImage">
                <img src="http://res.cloudinary.com/dsgmrzsui/image/upload/c_scale,h_40,w_40/{{currentUser.imageID || 'noProfile_njhxg2.jpg'}}" class="profileTabButton">
            </div>
            <div class="userLinkName">
                    {{currentUser.name}}
            </div>
        </li>
        <li><a href="#create-contest"><i class="fa fa-plus-square"></i> New Contest</a></li>
        <li><a href="#change-password"><i class="fa fa-lock"></i> Change Password</a></li>
        <li><a href="#find"><i class="fa fa-search"></i> Find User</a></li>
        <li ng-show="user"><a ng-click="logout()"><i class="fa fa-sign-out"></i> Logout</a></li>
        <li><a href="#reports"><i class="fa fa-line-chart"></i> Admin Reports</a></li>
        <li ng-if="currentUser.credits"><b>CREDITS</b> {{currentUser.credits}}</li>
    </ul>
</div>